<ion-header>
  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="height:100%">

  <div text-center style="height: 20%">
    <ion-img width="100" height="90"
             src="http://mescal.imag.fr/membres/jean-marc.vincent/DU-ISN/logo_UFR_IM2AG.jpg"></ion-img>
  </div>

  <div style="height: 70%">
    <ion-item>
      <ion-label floating>Email Address</ion-label>
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item margin-bottom="2px">
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <button ion-button full (click)="login(user)">Login</button>
    <button ion-button full color="facebook" (click)="register(user)">Register</button><br>
    <button ion-button full color="google" (click)="googleLogin()">Google authentification</button>
  </div>
  <div style="height: 10%">
    <p text-center align-items-end>M2PGI 2017-2018</p>
  </div>
</ion-content>
