<!--
  Generated template for the DetailItemPage page.

  See http://ionicframework.com/tdocs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Tache</ion-title>
    <ion-buttons end>
      <button ion-button icon-start  (click)="suppItem()">
        <ion-icon name="md-trash"></ion-icon>
      </button>
      <button ion-button icon-start  (click)="editItem()">
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-color: #efefef ; padding: 7px;">

  <ion-fab bottom right >
    <button  ion-fab (click)="endTask()">
      <ion-icon name="md-done-all"></ion-icon>
    </button>
  </ion-fab>


  <ion-card-content style="width: 90% ; margin-bottom: 2px; background-color: #ffffff;">

    <div class="title" style="height: 20%">    <h4> Tache :</h4>  {{item.name}} <br><br> </div>
    <div *ngIf="item.desc != ''" class="description" style="height: 20%"> <h4>Note</h4> {{item.desc}} <br><br></div>
    <div class="stat" style="height: 20%">
      <div *ngIf="item.complete; else test">
        <h4>Etat : </h4> Terminé
      </div>
      <div>
        <ng-template #test>
          <h4>Etat : </h4> En cours ..
        </ng-template>
      </div>
    </div>
    <div *ngIf="item.image" margin-top="1px" style="background-color: #ffffff; display: inline-block;overflow:auto; border: 1px solid floralwhite">
      <ion-img width="180px"height="180px" [src]="item.image"></ion-img>
    </div>
  </ion-card-content>

</ion-content>
