<ion-header xmlns:margin-bottom="http://www.w3.org/1999/xhtml" xmlns:margin-bottom="http://www.w3.org/1999/xhtml">
  <ion-navbar color="primary">

    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-start (click)="logoutUser()">
        <ion-icon name="md-log-out"></ion-icon>
      </button>
      <button ion-button icon-start (click)="scanId()">
        <ion-icon name="md-qr-scanner"></ion-icon>
      </button>
      <button ion-button icon-start (click)="showSharedList()">
        <ion-icon  md="md-notifications"></ion-icon>
        <ion-badge id="notifications-badge" color="facebook">{{number}}</ion-badge>
      </button>
    </ion-buttons>


  </ion-navbar>
</ion-header>

<ion-content style="background-color: #efefef">
  <ion-fab bottom right >
    <button  ion-fab (click)="addListDialog()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
  <ion-card-content>
    <ion-list style="background-color: #efefef">
      <ion-item style="background-color: #efefef" >
      <ion-row style="background-color: white" *ngFor="let item of todoList" margin-bottom="0.2px">
        <ion-col (click)="itemSelected(item)"  col-9>
          <ion-item> <ion-icon color="primary"  name="md-list-box" item-start></ion-icon>
            <h4>{{item.name}}</h4>
          </ion-item>
        </ion-col>
        <ion-col col-3>
        <ion-buttons end>
          <button ion-button small icon-only (click)="menuDialog(item)">
            <ion-icon  name="md-more"></ion-icon>
          </button>
        </ion-buttons>
        </ion-col>
        </ion-row>
        </ion-item>
    </ion-list>
  </ion-card-content>
</ion-content>
