<ion-header xmlns:margin-bottom="http://www.w3.org/1999/xhtml" xmlns:margin-bottom="http://www.w3.org/1999/xhtml">
  <ion-navbar color="primary">

    <ion-title>Liste partagé</ion-title>

  </ion-navbar>
</ion-header>

<ion-content style="background-color: #efefef">
  <ion-card-content>
    <ion-list>
      <ion-item ion-item *ngFor="let item of todoList" >
        <h2>{{item.name}}</h2>
        <ion-buttons end>
          <button ion-button small icon-only (click)="confirmeList(item)">
            <ion-icon  name="md-add"></ion-icon>
          </button>
          <button ion-button small icon-only (click)="declineList(item)">
            <ion-icon  name="md-remove"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-content>
