
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Liste de tâches</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #efefef">
  <ion-fab bottom right >
    <button  ion-fab (click)="addItemModal()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <B>{{listName}}</B>
    </ion-card-header>
    <ion-list>
      <ion-item ion-item side="left" style="padding: 3px ;margin: 7px" *ngFor="let item of listItems | async" (click)="showDetail(item)">
         {{item.name}}
        <ion-icon  color="facebook" *ngIf="item.complete; else test" name="md-done-all" item-start></ion-icon>
        <ng-template #test>
          <ion-icon color="primary" name="md-close" item-start></ion-icon>
        </ng-template>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
