<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Add Item
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" [(ngModel)]="title"></ion-input>
      <button ion-button icon-start item-right (click)="vocalRecognition(0)"><ion-icon name="mic"></ion-icon></button>
    </ion-item>
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text" [(ngModel)]="description"></ion-input>
      <button ion-button icon-start item-right (click)="vocalRecognition(1)"><ion-icon name="mic"></ion-icon></button>
    </ion-item>

    <ion-item margin-top="1px">
      <button ion-button icon-start color="primary" (click)="menuDialog()">Ajouter une image</button>
      <p *ngIf="nativepath" style="text-decoration-color: #32db64">{{nativepath.substr(21,33)}}</p>
    </ion-item>
  </ion-list>

  <button margin-top="3px" full ion-button color="primary" (click)="saveItem()">Save</button>


</ion-content>
